@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.product {
  @extend %herocard;
  @extend %colums;
  padding: 0!important;
  width: grid-width(4, true);
  color: map-get($font-color, dark);
  font-size: map-get($font-size, Caption);
  font-family: map-get($font-family, Monserrat);
  border-radius: 0 !important;
  border-top: solid 4px #fff;
  position: relative;
  height: 340px;
  &:hover {
    border-top: solid 4px map-get($color-primary01, active);
  }

  
  @media (max-width: map-get($breakpoints, md)) {
    width: grid-width(6, true);

  }
  @media (max-width: map-get($breakpoints, sm)) {
    width: grid-width(12, true);

  }
 

  &__info {
    @extend %colums;
    width: grid-width(7, true);
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;

    &--dateEdition{
      text-transform: uppercase;
      & span {
        font-weight: bold;
      }
    }
    &--name {
      color: map-get($color-primary01, active);
      font-weight: bold;
      font-size: map-get($font-size, Omega);
    }
    &--price {
      color: map-get($font-color, dark);
      font-family: map-get($font-family, Anton);
      font-size: map-get($font-size, Omega);
      width: 100%;
     
    }
    &--type-wrapper {
      width: 100%;
      height: auto;
      margin: 10px auto;
      text-align: center;
      /* border: solid 1px #ccc; */
      float: left;
      font-size: 12px;
      line-height: 13px;
      padding: 5px;
      float: left;
      position: absolute;
      bottom: 34px;
      border-top: solid 1px #ccc;
      font-weight: bold;
      & img {
        width: 20%;
        float: left;
      }
      
    
    }
    &--type-wine {
      @extend %colums;
      width: grid-width(6, true);
      font-family: map-get($font-family, Monserrat);
        font-size: map-get($font-size, Caption);
        font-size: 9px;
    text-align: center;
    font-weight: bold;
    line-height: 12px;
    margin: 0 0 0 5px;
    float: left;
    border-right: solid 1px #ccc;
      font-weight: bold;

      & p {
        text-align: left;
        margin: 10px;
      }

    }
    &--type-cepa {
      @extend %colums;
      width: grid-width(6, true);
     
        font-size: 9px;
    text-align: center;
    font-weight: bold;
    line-height: 12px;
    margin: 0 5px 0 0;
    float: right;
    & p {
      text-align: left;
      margin: 5px;
    }
    }
  }

  &__image {
    @extend %colums;
    width: grid-width(5, true);
    & img {
      width: 100%;
      
      @media(max-width: 600px) {
        width: 60%;
      }
      @media(max-width: 550px) {
        width: 68%;
      }

      @media(max-width: 480px) {
        width: 70%;
      }
    

      
    }
  }

&__more-details{
    width: 100%;
    border-top: solid 1px #ccc;
    float: left;
    height: 45px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    border-radius: 0;

    &:hover {
      background: #4e4d4d;
    }
    &--plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fb3c5e;
    color: #fff;
    float: left;
    padding: 4px 0px 0px 9px;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 42.5%;
    }
}
}

.more-info {
  @extend %herocard;
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 80%;
  left: 0;
  z-index: 999;
  color: #333;
  border-radius: 0;
  padding: 10px 20px;

  &__wrapper {
    width: 600px;
    margin: auto;
    @media(max-width: map-get($breakpoints, md)) {
      width: 100%;
    }

    &__info {
      @extend %colums;
      width: grid-width(7, true);
      padding-top: 10px;
      padding-left: 20px;
      box-sizing: border-box;
      padding: 0 !important;
      margin: 0!important;
      @media(max-width: map-get($breakpoints, md)) {
        width: grid-width(8, true);
      }
  
      &--dateEdition{
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 10px;
        & span {
          font-weight: bold;
        }
      }
      &--name {
        color: map-get($color-primary01, active);
        font-weight: bold;
        font-size: map-get($font-size, Zeta);
        margin-bottom: 10px;
        margin-top: 10px;
      }
      &--price {
        color: map-get($font-color, dark);
        font-family: map-get($font-family, Anton);
        font-size: map-get($font-size, Zeta);
        width: 100%;
        // position: absolute;
        bottom: 65px;
      }
      &--brand {
        color: map-get($font-color, dark);
        font-family: map-get($font-family, Monserrat);
        font-size: map-get($font-size, Caption);
        margin-bottom: 5px;
        margin-top: 5px;
      }
      &--description {
        color: map-get($font-color, dark);
        font-family: map-get($font-family, Monserrat);
        font-size: map-get($font-size, Caption);
        width: 100%;
        height: 130px;
        overflow: scroll;
        margin-bottom: 10px;
        margin-top: 10px;
        @media(max-width: map-get($breakpoints, md)) {
          height: auto;
          max-height: 70px
        }
      }
      &--type-wrapper {
        width: 180px;
        height: auto;
        margin: 10px auto;
        text-align: center;
        border: solid 1px #ccc;
        float: left;
        line-height: 13px;
        background: whitesmoke;
        font-family: map-get($font-family, Monserrat);
        font-size: map-get($font-size, Caption);
        line-height: 13px;
        & img {
          width: 56%;
          @media(max-width: map-get($breakpoints, md)) {
            display: none;
          }
        }
      
      }
      &--type-wine {
        @extend %colums;
        width: grid-width(6, true);
        font-family: map-get($font-family, Monserrat);
        font-size: map-get($font-size, Caption);
        font-weight: bold;
  
      }
      &--type-cepa {
        @extend %colums;
        width: grid-width(6, true);
        font-family: map-get($font-family, Monserrat);
        font-size: map-get($font-size, Caption);
        font-weight: bold;
  
      }
    }
  
    &__image {
      @extend %colums;
      width: grid-width(5, true);
      & img {
        width: 100%;
        
        @media(max-width: 600px) {
          width: 60%;
        }
        @media(max-width: 480px) {
          width: 90%;
        }
      
  
        
      }
      @media(max-width: map-get($breakpoints, md)) {
        width: grid-width(4, true);
      }
  
    }
  }




  }


.bkg-more-info {
  filter: alpha(opacity=70);
opacity: .7;
-moz-opacity: .7;
-khtml-opacity: .7;
position: fixed;
width: 100%;
height: 100%;
background: #333;
z-index: 998;
top: 0;
left: 0;
cursor: pointer;
}

.disapear{
  display:none;
}

.wrapper-product {
  position: relative;
}