@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.carousel {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto;
  @media(max-width: map-get($breakpoints, md)) {
    width: 100%;
    height: auto;
  }
  div::before & {
    display: none !important;
  }

  &--items {
    width: 100%;
    float: left;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    @media(max-width: map-get($breakpoints, md)) {
      width:100%;
    }
   
  }

  
}

.back-arrow {
  position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    display: block;
    //background-color: rgba(235, 235, 235, 0.49);
    border: 0;
    padding: 0 5px;
    width: 10%;
    overflow: hidden;
    transition: background-color 300ms ease;
    cursor: pointer;
    left: 0;
    padding-left: 12px;
   
   
  @media(max-width: map-get($breakpoints, sm)) {
    width: 20%;
  }
}



.next-arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  display: block;
  //background-color:  rgba(235, 235, 235, 0.49);
  border: 0;
  padding: 0 5px;
  width: 10%;
  overflow: hidden;
  transition: background-color 300ms ease;
  cursor: pointer;
  right: 0px;
  padding-right: 12px;


  @media(max-width: map-get($breakpoints, sm)) {
    width: 20%;
   
  }

}

.item {
  width:100%;
  display: inline-block;
  margin:0;

  & img {
  background-size: cover;
  background-position: center;
    width: initial;
  width:100%;
    height: -webkit-fill-available;

    @media(max-width: map-get($breakpoints, md)) {
     
      width:100%;
      height: auto;
    }
}

}

.arrow-icon { 
  color: rgb(228, 228, 228);  
  margin: 140px 25px; 
  background: rgba(251, 59, 94, 0.81);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;

  @media(max-width: map-get($breakpoints, md)) {
    margin: 140px 5px; 
  }
}

