@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.logo {
  position: relative;
  margin-top: 10px;

  &--full {
    & img {
      width: 100%;
    }
  }

  &--xs {
    & img {
      width: 100%;
      max-width: 85px;
    }
  }

  &--sm {
    & img {
      width: 50%;
    }
  }

  &--md {
    & img {
      width: 80%;
    }
  }

  &--left {
    float: left;
  }

  &--right {
    float: right;
   }

  &--center {
    margin: auto;
    text-align: center;
   }

}
