@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.input-text {
  @extend %colums;
  width: grid-width(12, true);
  position: relative;
  margin: auto;
  max-width: 100%;
  

  &--label {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }


  &--border {
    position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 0.15s ease;
  }
  & input {
    -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
  background: #fff;

    &:hover {
      background: rgba(34, 50, 84, 0.03);
      background: #fff;
   
    }

    &:not(:placeholder-shown) + span {
      -webkit-transform: translateY(-36px) scale(0.75);
              transform: translateY(-36px) scale(0.75);
              color: #fff;
           
    }

    &:focus {
      background: none;
      outline: none;
      background: #fff;
    }

    &:focus + span {
      -webkit-transform: translateY(-36px) scale(0.75);
              transform: translateY(-36px) scale(0.75);
              color: #fff;
              
    }

    &:focus + span + .input-text--border {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
              
              
    }
      
  }
  
}