@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';
.nav {
  height: auto;
  margin-top: 48px;
  float: right;
  @media(max-width: 600px) {
    margin-top: 28px;
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
   & li {
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
     font-size: map-get($font-size, Omega);
     font-family: map-get($font-family, Anton);
    letter-spacing: 1px;
    color: map-get($color-primary01, neutral);

    @media(max-width: 600px) {
      font-size: map-get($font-size, Caption);
    }
  
  }
   
   & li a {
    color: #c3c3c3;
    text-decoration: none;

  }

  & li a:hover {
    border-top: solid 4px map-get($color-primary01, active);
    color: map-get($color-primary01, active);
  }
  }

}


