@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.not-sale {
  background: rgb(255, 223, 99) none repeat scroll 0% 0%;
  border: 1px #333 dotted;
  color: #333;
  color: map-get($font-color, dark);
  display: inline-block;
  font-family: map-get($font-family, Monserrat);
  font-size: map-get($font-size, Kappa);
  height: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  text-align: left;
  text-align: left;
  width: 100%;
  @media(max-width: map-get($breakpoints, md)) {
    margin-top: 30px;
  }

  & img {
    width: 80%;
  }
  
  @media (max-width: map-get($breakpoints, md)) {
    height: auto;
   
 
   }
  &__text {
    @extend %colums;
    width: grid-width(8, true);
    @media (max-width: map-get($breakpoints, md)) {
      width: grid-width(12, true);
   
     }
  }
  
  &__image {
    @extend %colums;
    width: grid-width(4, true);
    text-align: center;
    @media (max-width: map-get($breakpoints, md)) {
      width: grid-width(12, true);
   
     }

  }
  
}