@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/functions';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/animations';
@import '../../scss/layout';
.header {
  background: rgba(33, 33, 33, 0.95);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 6;
  height: 125px;
  border-bottom: solid 8px #b1124c;
  @media (max-width: map-get($breakpoints, md)) {
    height: 90px;

  }
  

  &__wrapper  {
    width: map-get($breakpoints, lg);
    margin: auto;
    @media (max-width: map-get($breakpoints, lg)) {
      width: 100%;
  
    }
  }
  &--col3 {
    @extend %colums;
    width: grid-width(3, true);
  
  }

  &--col9 {
    @extend %colums;
    width: grid-width(9, true);
   
  }
}
