@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/functions';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/animations';
@import '../../scss/layout';

.footer-wraper {
  width: 100%;
  height: auto;
  margin: 0;
  float: left;
  overflow: hidden;
  background: url(../../assets/images/footer4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  position: relative;
  & img {
    width: 100%;
  }
  
&--col6{
  @extend %colums;
  width: grid-width(6, true);
  margin-left: 30%;
  @media (max-width: 1000px) {
    width: grid-width(12, true);
    margin-left: unset;

  }
}


&--col3{
  @extend %colums;
  width: grid-width(3, true);

  &img {
    width:100%!important;
  }
}

&--col9{
  @extend %colums;
  width: grid-width(9, true);
}

&--social {
  color: #fff;
  & span{
    color: #fff;
    margin-right: 5px;
    & a {
      color: #fff;
    }
    & a:hover {
      color: #e80a89;
    }
  }
}
  &__row {
    width: 1024px;
    margin: auto;
    @media (max-width: 1000px) {
      width: 100%;
  
    }
  }
  &__title {
    width: 200px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to right,#f15b2a,#e80a89);
   margin-top: 20px;
  }

  &__last-row {
    width: 100%;
    height: 60px;
    background: map-get($color-primary01, repose);
    float: left;
    text-align: center;
    font-size: map-get($font-size, Caption);
    color: map-get($font-color, light);
    font-family: map-get($font-family, Monserrat);
    padding-top: 25px;
    box-sizing: border-box;
 
  }

 
}

.logo-footer {
position: relative;
text-align: center;

 
}