@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/functions';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/animations';
@import '../../scss/layout';

.contact-wraper {
  width: 100%;
  height: auto;
  float: left;
 

  &__row {
    @extend %colums;
    width: grid-width(12, true);
  }

  &__input-row {
    width: 100%;
    margin: 20px 0;
    height: 50px;

    & textarea {
      width: 100%;
    }
  }
}