@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.loading-wine {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 9;
  overflow: hidden;
  left: 42%;
  top: 30%;
  border-radius: 50%;
  @media(max-width: map-get($breakpoints, md)) {
    left: 24%;
  }
  & img {
    width: 159%;
    position: absolute;
    top: -30px;
    left: -40px;
  }
  &__text{
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    z-index: 22;
    width: 100%;
    text-align: center;
  }
 
}

// sass-lint:disable-block class-name-format
