@import './scss/variables';
@import './scss/colors';
@import './scss/functions';
@import './scss/mixins';
@import './scss/typography';
@import './scss/animations';
@import './scss/layout';
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-image: url('../src/assets/images/bkg4.jpg');
  font-family:  map-get($font-family, Monserrat);
  background-attachment: scroll;
  background-repeat: repeat-y;
  background-size: cover;
  color: #333;
  height: 100%;
  min-height: 100%;
  @media (max-width: map-get($breakpoints, md)) {
    background-color: #d2d8cf;
    background-image: unset;

  }
}

.main-wrapper-app {
  width: 1024px;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.55);
  display: grid;
  &--row {
    @extend %colums;
    width: grid-width(12, true);
  }
  &--row-center {
    @extend %centerdiv;
    @extend %colums;
    width: grid-width(12, true);
  }
  @media (max-width: map-get($breakpoints, lg)) {
   width: 100%

  }

  
}

.vitrina {
  width: 100%;
  height: auto;
  padding-top: 125px;
  margin-bottom: 10px;
}
