@import './variables';
@import './mixins';
@import './functions';


// -- Slide Animations -- //

.slide {
  &--in-top {
    @include keyframes(slide-in-top) {
      0% {transform: translate(0, -100%);}
      100% { transform: translate(0, 0); }
    }
    @include animation('slide-in-top 1s ease forwards');
  }

  &--out-top {
    @include keyframes(slide-out-top) {
      0% { transform: translate(0, 0); }
      100% {transform: translate(0, -100%); }
    }
    @include animation('slide-out-top 1s ease forwards');
  }

  &--in-show-top {
    @include keyframes(slide-in-show-top) {
      0% {
        display: none;
        transform: translate(0, -100%);
      }

      100% {
        display: unset;
        transform: translate(0, 0);
      }
    }
    @include animation('slide-in-show-top 1s ease forwards');
  }

  &--out-hide-top {
    @include keyframes(slide-out-hide-top) {
      0% {
        display: unset;
        transform: translate(0, 0);
      }

      100% {
        display: none;
        transform: translate(0, -100%);

      }
    }
    @include animation('slide-out-hide-top 1s ease forwards');
  }

  &--in-right {
    @include keyframes(slide-in-right) {
      0% {
        transform: translate(100%, 0);
      }

      100% {
        transform: translate(0, 0);
      }

    }
    @include animation('slide-in-right .5s ease forwards');
  }

  &--out-right {
    @include keyframes(slide-out-right) {
      0% {
        transform: translate(0, 0);
      }

      100% {
        transform: scale(0 , 0);
        transform: translate(100%, 0);
      }
    }
    @include animation('slide-out-right .5s ease forwards');
  }

  &--out-bottom {
    @include keyframes(slide-out-bottom) {
      0% {
        transform: translate(0, 0);
    }

      100% {
        transform: translate(0, 100%);
    }
    }
    @include animation('slide-out-bottom .5s ease forwards');
  }

  &--in-bottom {
    @include keyframes(slide-in-bottom) {
      0% {
        transform: translate(0, 100%);
      }

      100% {
        transform: translate(0, 0);
    }
    }
    @include animation('slide-in-bottom .7s ease forwards');
  }





  &--scale-in {
    -webkit-animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @-webkit-keyframes scale-in {
      0% {
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          //opacity: 1;
      }
      100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
         // opacity: 1;
      }
    }
    
    @keyframes scale-in {
      0% {
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          //opacity: 1;
      }
      100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
         // opacity: 1;
      }
    }
  }
  
  &--scale-out {
    -webkit-animation: scale-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    @-webkit-keyframes scale-out {
      0% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
         // opacity: 1;
      }
      100% {
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
         // opacity: 1;
          //display: none;
      }
  }
  
  @keyframes scale-out {
      0% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
         // opacity: 1;
      }
      100% {
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          //opacity: 1;
         // display: none;
      }
  }
  
}

}


.chat-fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
           
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



.chat-fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
  display:none;

}


@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

