@mixin box-size($height,  $width) {
  height: $height;
  width: $width;
}

@mixin button($type) {
  // sass-lint:disable-block no-misspelled-properties
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family:  map-get($font-family, Monserrat);
  font-size: $base-fontsize;
  margin: 0 10px;
  outline: unset;
  padding: 10px 15px;
  text-align: center;

  &:hover {
    transition:  .3s ease;
  }

  & svg {
    fill: #fff;
  }

  @if $type == 'pill' {
    background: color-blue(neutral) !important;
    border: 2px solid color-blue(neutral) !important;
    border-radius: map-get($border-radius, m);
    color:  #fff !important;

    &:hover {
      background: color-blue(neutral) !important;
      border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      border: 2px solid color-blue(active) !important;
    }
   }

  @if $type == 'pill-width' {
    background: color-blue(neutral) !important;
    border: 2px solid color-blue(neutral) !important;
    border-radius: map-get($border-radius, m);
    color:  #fff !important;
    width: 100%;

    &:hover {
      background: color-blue(neutral) !important;
      border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      border: 2px solid color-blue(active) !important;
    }
   }

  @if $type == 'pill-outline' {
    background: #fff;
    border: 2px solid color-blue(neutral);
    border-radius: map-get($border-radius, m);
    color:  color-blue(neutral);

    &:hover {
      background: color-blue(neutral) !important;
      // border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      // border: 2px solid color-blue(active) !important;
    }
   }

  @if $type == 'pill-disable' {
    background: color-black(repose);
    border: 0;
    border-radius: map-get($border-radius, m);
    color:  color-black(repose);

   }

  @if $type == 'pill-outline-width' {
    background: #fff;
    border: 2px solid color-blue(neutral);
    border-radius: map-get($border-radius, m);
    color:  color-blue(neutral);
    width: 100%;

    &:hover {
      background: color-blue(neutral) !important;
      // border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      // border: 2px solid color-blue(active) !important;
    }
   }
  @if $type == 'add-tocard' {
    background: color-red(neutral);
    border: 2px solid color-red(neutral);
    color:  #fff;
    height: 40px;
    max-width: 140px;
    width: 100%;

    &:hover {
      background: color-red(neutral);
      border: 2px solid color-red(neutral);
      color: #fff !important;
    }

    &:active {
      background: color-red(active);
      border: 2px solid color-red(active);
    }
   }

  @if $type == 'minimize' {
    background: color-blue(neutral);
    background-image: url('https://soclpedrowidgetprd.azurewebsites.net/a/chatbot/icon/ico-close.svg');
    background-position: 7px 3px;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 0;
    color:  color-blue(neutral);
    float: left;
    height: 30px;
    margin-top: 10px;
    //position: absolute;
    // right: 0;
    //top: 10px;
    width: 30px;

    & span {
      display: none;
    }


    &:hover {
      background: color-blue(active);
      background-image: url('https://soclpedrowidgetprd.azurewebsites.net/a/chatbot/icon/ico-close.svg');
      background-position: 7px 3px;
      background-repeat: no-repeat;
      background-size: 50%;
    }

   }
  @if $type == 'send' {
    background: map-get($color-primary01, neutral);
    background-position: 13px;
    background-repeat: no-repeat;
    border: 0;
    box-shadow: none;
    color:  #fff;
    fill: #fff;
    height: 40px;
    margin-top: 30px;
    padding: 6px 8px;
    width: 200px;
    margin-left: 35%;
    @media (max-width: 600px) {
      margin-left: 0;
      width: 100%;

    }

    &:hover {
      background: map-get($color-primary01, active);
      //background-image: url('/assets/images/icon-send.png');
      background-position: 13px;
      background-repeat: no-repeat;
      color: #fff;
    }

    &:active {
      background:map-get($color-primary01, active);
      // background-image: url('/assets/images/icon-send.png');
      background-position: 13px;
      background-repeat: no-repeat;
    }

   
   }

}

@mixin bg-image($image) {
  //background-attachment: fixed;
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  // sass-lint:disable-block no-misspelled-properties
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  -webkit-animation: #{$str};
  animation: #{$str};

}

