@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


$columns: 12;
$gutter: 20px;

//Red -pink-purple
$color-primary01: (
  active:  #fb3c5e,
  neutral: #b1124c,
  repose: #6b3e56,
  disable: #e4dcde
);

//Blue
$color-primary02: (
  active:  #0c4dc2,
  neutral: #0072ce,
  repose: #82a3df,
  repose01: #a8c0e9,
  repose02: #cfdcf3,
  disable: #f5f8fd
);

//Black
$color-primary03: (
  active:  #000,
  neutral: #333,
  repose: #595959,
  disable: #f5f5f5
);


$font-size: (
  Caption: 12px,
  Kappa: 14px,
  Omega: 17px,
  Zeta: 20px,
  Epsilon: 24px,
  Delta: 29px,
  Gamma: 35px,
  Beta: 42px,
  Alpha: 50px,
  Mega: 60px,
  Giga: 72px
);


$font-family: (
  Montserrat: 'Montserrat',
  Anton: 'Anton',
  Sans-serif: sans-serif
);

$font-color: (
  dark: #333,
  light: #fff,
  input: #8c8c8c,
  link: #333
);


$spacing: 30px;
$spacing-big: 60px;
$spacing-small: 15px;


// Typography
// -------------------------

$base-fontsize: 13px;
$base-lineheight: 20px;

$padding-large: 11px 19px; // 44px
$padding-small: 2px 10px;  // 26px
$padding-mini: 0 6px;   // 22px

$base-border-radius: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$zindex: (
  default:  0,
  modal-overlay:  350,
  modal: 400,
  tip: 10
);


$border-radius: (
  none: 0,
  s:  5px,
  m: 20px,
  full: 50%,
  bot:  4px 20px 20px,
  user: 20px 4px 20px 20px
);

$shadows: (
  xs: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  s: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  m: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  l: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  xl: -1px 2px 7px 0 rgba(0, 0, 0, .2)
);

$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);
