@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';
.wrapper-about {
  width: 100%;
  &__title {
    width: 200px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to right,#f15b2a,#e80a89);
    margin-top: 20px;
  }
  &__image {
    @extend %colums;
    width: grid-width(4, true);
    & img {
      width: 100%;
    }

    @media (max-width: map-get($breakpoints, md)) {
      width: grid-width(6, true);
  
    }
    @media (max-width: map-get($breakpoints, sm)) {
      width: grid-width(12, true);
  
    }
  }
  &__text {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    @extend %colums;
    width: grid-width(8, true);
    height: auto;
    padding: 15px;
    background: #fff;
    text-align: left;
    color: map-get($font-color, dark);
    font-size: map-get($font-size, Kappa);
    font-family: map-get($font-family, Monserrat);
    line-height: 22px;
    
    @media (max-width: map-get($breakpoints, md)) {
      width: grid-width(6, true);
  
    }
    @media (max-width: map-get($breakpoints, sm)) {
      width: grid-width(12, true);
  
    }
  }
  
}